<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdut.classroom_reservation.dao.ReservationMapper">
  <resultMap id="BaseResultMap" type="com.cdut.classroom_reservation.entity.Reservation">
    <id column="reservation_id" jdbcType="INTEGER" property="reservationId" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="c_r_id" jdbcType="VARCHAR" property="cRId" />
    <result column="r_date" jdbcType="DATE" property="rDate" />
    <result column="r_time" jdbcType="INTEGER" property="rTime" />
    <result column="r_type" jdbcType="VARCHAR" property="rType" />
    <result column="r_phone" jdbcType="CHAR" property="rPhone" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="r_status" jdbcType="INTEGER" property="rStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    reservation_id, user_id, c_r_id, r_date, r_time, r_type, r_phone, remarks, r_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_reservation
    where reservation_id = #{reservationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_reservation
    where reservation_id = #{reservationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdut.classroom_reservation.entity.Reservation">
    insert into tb_reservation (reservation_id, user_id, c_r_id, 
      r_date, r_time, r_type, r_phone, 
      remarks, r_status)
    values (#{reservationId,jdbcType=INTEGER}, #{userId,jdbcType=CHAR}, #{cRId,jdbcType=VARCHAR}, 
      #{rDate,jdbcType=DATE}, #{rTime,jdbcType=INTEGER}, #{rType,jdbcType=VARCHAR}, #{rPhone,jdbcType=CHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{rStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cdut.classroom_reservation.entity.Reservation">
    insert into tb_reservation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reservationId != null">
        reservation_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="cRId != null">
        c_r_id,
      </if>
      <if test="rDate != null">
        r_date,
      </if>
      <if test="rTime != null">
        r_time,
      </if>
      <if test="rType != null">
        r_type,
      </if>
      <if test="rPhone != null">
        r_phone,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="rStatus != null">
        r_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reservationId != null">
        #{reservationId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="cRId != null">
        #{cRId,jdbcType=VARCHAR},
      </if>
      <if test="rDate != null">
        #{rDate,jdbcType=DATE},
      </if>
      <if test="rTime != null">
        #{rTime,jdbcType=INTEGER},
      </if>
      <if test="rType != null">
        #{rType,jdbcType=VARCHAR},
      </if>
      <if test="rPhone != null">
        #{rPhone,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="rStatus != null">
        #{rStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdut.classroom_reservation.entity.Reservation">
    update tb_reservation
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="cRId != null">
        c_r_id = #{cRId,jdbcType=VARCHAR},
      </if>
      <if test="rDate != null">
        r_date = #{rDate,jdbcType=DATE},
      </if>
      <if test="rTime != null">
        r_time = #{rTime,jdbcType=INTEGER},
      </if>
      <if test="rType != null">
        r_type = #{rType,jdbcType=VARCHAR},
      </if>
      <if test="rPhone != null">
        r_phone = #{rPhone,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="rStatus != null">
        r_status = #{rStatus,jdbcType=INTEGER},
      </if>
    </set>
    where reservation_id = #{reservationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdut.classroom_reservation.entity.Reservation">
    update tb_reservation
    set user_id = #{userId,jdbcType=CHAR},
      c_r_id = #{cRId,jdbcType=VARCHAR},
      r_date = #{rDate,jdbcType=DATE},
      r_time = #{rTime,jdbcType=INTEGER},
      r_type = #{rType,jdbcType=VARCHAR},
      r_phone = #{rPhone,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      r_status = #{rStatus,jdbcType=INTEGER}
    where reservation_id = #{reservationId,jdbcType=INTEGER}
  </update>

  <select id="getTotal" parameterType="com.cdut.classroom_reservation.result.gReservation" resultType="java.lang.Integer">
    select count(*)
    from tb_reservation
    where  user_id = #{userId,jdbcType=CHAR}
    <if test="cRId != null">
      and c_r_id like concat(#{cRId,jdbcType=VARCHAR},'%')
    </if>
    <if test="rDate != null">
      and r_date = #{rDate,jdbcType=DATE}
    </if>
  </select>

  <select id="selectByIdAndDate" parameterType="com.cdut.classroom_reservation.result.gReservation" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_reservation
    where  user_id = #{userId,jdbcType=CHAR}
    <if test="cRId != null">
      and c_r_id like concat(#{cRId,jdbcType=VARCHAR},'%')
    </if>
    <if test="rDate != null">
      and r_date = #{rDate,jdbcType=DATE}
    </if>
    order by r_status,r_date asc ,reservation_id desc
    limit #{curPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
</mapper>